<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginPaciente</servlet-name>
        <servlet-class>Controller.LoginPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginMedico</servlet-name>
        <servlet-class>Controller.LoginMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFamilia</servlet-name>
        <servlet-class>Controller.LoginFamilia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroMedico</servlet-name>
        <servlet-class>Controller.CadastroMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroPaciente</servlet-name>
        <servlet-class>Controller.CadastroPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirStatus</servlet-name>
        <servlet-class>Controller.InserirStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarStatus</servlet-name>
        <servlet-class>Controller.ListarStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessarPaciente</servlet-name>
        <servlet-class>Controller.AcessarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizarChaveFamilia</servlet-name>
        <servlet-class>Controller.atualizarChaveFamilia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizarChaveMedico</servlet-name>
        <servlet-class>Controller.atualizarChaveMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarStatusPaciente</servlet-name>
        <servlet-class>Controller.ListarStatusPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCadastroPaciente</servlet-name>
        <servlet-class>Controller.AtualizarCadastroPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCadastroMedico</servlet-name>
        <servlet-class>Controller.AtualizarCadastroMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdministrador</servlet-name>
        <servlet-class>Controller.LoginAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirAutorizacao</servlet-name>
        <servlet-class>Controller.InserirAutorizacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAutorizacao</servlet-name>
        <servlet-class>Controller.ListarAutorizacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>Controller.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPaciente</servlet-name>
        <url-pattern>/LoginPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginMedico</servlet-name>
        <url-pattern>/LoginMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFamilia</servlet-name>
        <url-pattern>/LoginFamilia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroMedico</servlet-name>
        <url-pattern>/CadastroMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroPaciente</servlet-name>
        <url-pattern>/CadastroPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirStatus</servlet-name>
        <url-pattern>/InserirStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarStatus</servlet-name>
        <url-pattern>/ListarStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessarPaciente</servlet-name>
        <url-pattern>/AcessarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizarChaveFamilia</servlet-name>
        <url-pattern>/atualizarChaveFamilia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizarChaveMedico</servlet-name>
        <url-pattern>/atualizarChaveMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarStatusPaciente</servlet-name>
        <url-pattern>/ListarStatusPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCadastroPaciente</servlet-name>
        <url-pattern>/AtualizarCadastroPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCadastroMedico</servlet-name>
        <url-pattern>/AtualizarCadastroMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdministrador</servlet-name>
        <url-pattern>/LoginAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirAutorizacao</servlet-name>
        <url-pattern>/InserirAutorizacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAutorizacao</servlet-name>
        <url-pattern>/ListarAutorizacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
